body {
  height: 100%;

  margin: 0%;
}

img {
  max-width: 100%;
}
.container {
  max-width: 1160px;
  margin: 0 auto;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.paralax {
  background: url(../images/Layer\ 1\ 5.jpg) no-repeat fixed;
  background-size: cover;
  padding-bottom: 10vh;
}

.header-container {
  display: flex;
  background-color: rgba(94, 93, 88, 0.6);
}

.logo-img {
  float: left;
  margin-left: 30vh;
}

.nav-bar {
  margin-left: auto;
  margin-right: auto;
  width: auto;
  margin: 0;
}

.menu {
  display: flex;
  justify-content: center;
  align-content: center;
  list-style: none;
  padding-top: 28px;
}

.menu-item {
  padding-left: 22px;
}

.menu-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
  padding-bottom: 53px;
}

.menu-link:hover {
  color: #18cfab;
  border-bottom: 2px solid #18cfab;
}

.logo-img-search {
  margin-left: 22px;
  cursor: pointer;
}

.intro {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.span-wordpress {
  color: #18cfab;
}

.intro-title-the-ham {
  text-align: center;
  margin: 0;
  margin-top: 264px;
  text-transform: uppercase;
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
}

.we-are-creative {
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  font-size: 78px;
  margin: 0;
  margin-top: 22px;
}
.intro-title-just-buy {
  text-align: center;
  font-weight: 200;
  opacity: 70%;
  font-size: 35px;
  color: #ffffff;
  margin: 0;
  margin-top: 20px;
}

.intro-buttons {
  display: flex;
  justify-content: center;
  margin-top: 127px;
}

.intro-buttons {
  margin-top: 150px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 170px 170px;
  grid-column-gap: 26px;
  padding-bottom: 243px;
}

.explore-now-header-button {
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  padding: 17px;
  background-color: #18cfab;
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  border-top: 3px solid #ffffff;
  border-radius: 4px;
  text-transform: uppercase;
}

.purchase-now-header-button {
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  padding: 17px;
  background-color: #00cbf6;
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  border-top: 3px solid #ffffff;
  border-radius: 4px;
  text-transform: uppercase;
}

.capabilities-list {
  display: grid;
  grid-template-columns: repeat(4, auto);
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 8px;
}

.capabilities-item {
  display: flex;
  justify-content: center;
  background-color: #1c2a33;
  padding-top: 95px;
  padding-bottom: 182px;
  position: relative;
}

.capabilities-item:nth-child(even) {
  padding-top: 105px;
  background-color: #18cfab;
}

.capabilities-text {
  position: absolute;
  bottom: 110px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #18cfab;
  text-transform: uppercase;
}

.capabilities-text-color {
  color: #ffffff;
}

.title {
  padding-top: 83px;
  margin: 0;
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  color: #4e4e4e;
  line-height: 40px;
  position: relative;
}

.title-line {
  position: relative;
}

.title-line::before {
  content: "";
  width: 75px;
  height: 1px;
  background: #18cfab;
  position: absolute;
  left: 48%;
  bottom: -30px;
}
.title-line::after {
  content: "";
  width: 75px;
  height: 1px;
  background: #18cfab;
  position: absolute;
  left: 47%;
  bottom: -26px;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(6, 190px);
  grid-template-rows: 72px;
  margin: 0;
  padding: 0;
  margin-top: 100px;
  list-style: none;
  margin-bottom: 23px;
  width: 1160px;
}

.services-item {
  margin: 0;
  border: 1px solid #edefef;
  background-color: #f8fcfe;
}
.services-item:hover {
  border: 1px #18cfab;
}

.services-btn {
  width: 192px;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  border: none;
  background: #edefef;
  font-weight: 400;
  text-decoration: none;
  color: #717171;
  font-size: 16px;
  line-height: 39px;
  position: relative;
  cursor: pointer;
}
.services-btn:hover {
  border: 2px solid #18cfab;
}

.services-btn.active {
  position: relative;
  background: #18cfab;
  color: #ffffff;
}
.services-btn.active::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  /* border: 4px solid #18cfab; */
}

.services-btn.active::after {
  content: "";
  position: absolute;
  bottom: -40%;
  left: 50%;
  transform: translateX(-50%);
  border: 15px solid transparent;
  border-top: 15px solid #18cfab;
}

.services-text-list {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  padding-left: 0;
  list-style: none;
}

.service-item-text {
  display: none;
}
.service-item-text.active {
  display: flex;
}

.service-text {
  display: flex;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #777777;
  padding-left: 15px;
  margin: 0 auto;
}
.service-item-img {
  float: left;
  display: inline;
}

.purchase {
  background-image: url(../images/purchase.jpg);
  margin-top: 91px;

  background-position: center;
  background-repeat: no-repeat;
}

.purchase-title {
  margin: 0;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #18cfab;
  padding-top: 120px;
}

.purchase-text {
  margin: 0;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  color: #d8d8d8;
  padding-top: 13px;
}

.purchase-button {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  padding-bottom: 127px;
}

.purchase-now-button {
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  padding: 17px;
  background-color: #18cfab;
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  border-top: 3px solid #ffffff;
  border-radius: 4px;
  text-transform: uppercase;
}

.our-amazing-work-section {
  background-color: #e9edef;
}
.amazing-work-menu {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  width: 850px;
}

.amazing-work-menu-btn {
  background: none;
  border: 1px solid #dadada;
  padding: 14px 23px;
  font-size: 14px;
  color: #717171;
  cursor: pointer;
}

.amazing-work-menu-btn.active {
  border: 1px solid #18cfaa;
  color: #18cfab;
}

.our-amazing-work-projects-list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 285px);
  grid-auto-rows: 211px;
  margin: 0 auto;
  margin-top: 71px;
}

.our-amazing-work-projects-item {
  position: relative;
}

.our-amazing-work-projects-item:hover .amazing-project-description {
  display: block;
}

.amazing-project-description {
  display: none;
  background-color: #e9edef;
  border-top: 2px solid #18cfab;
  padding-bottom: 40px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.amazing-project-more-info-btns {
  display: flex;
  justify-content: center;
}

.circle-btn {
  width: 43px;
  height: 43px;
  border: 1px solid #18cfaa;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  margin-right: 3px;
  margin-top: 40px;
  position: relative;
}
.circle-btn:hover {
  background-color: #18cfaa;
}

.circle-btn::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  position: absolute;
  left: 15px;
  top: calc(50% - 6px);
}

.circle-btn-link {
  width: 43px;
  height: 43px;
  border: 1px solid #18cfaa;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  margin-right: 3px;
  margin-top: 40px;
  position: relative;
}
.circle-btn-link:hover {
  background-color: #18cfaa;
}

.circle-btn-link::after {
  content: url(../images/Combined\ shape\ 7431.png);
  width: 14px;
  height: 14px;
  position: relative;
  left: 13px;
  top: calc(50% - 7px);
}

.amazing-description-title {
  padding-top: 33px;
  text-transform: uppercase;
  color: #18cfaa;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 25px;
  margin: 0 auto;
}

.amazing-description-text {
  text-align: center;
  color: #8a8a8a;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 25px;
  margin: 0 auto;
  padding: 0;
  padding-top: 4px;
}
.load-more-div {
  padding-bottom: 99px;
}
.load-more {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 700;
  font-size: 14px;
  width: 148px;
  height: 63px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #18cfab;
  color: #fff;
  margin: 0 auto;
  border-radius: 4px;
  margin-top: 70px;
  padding-right: 20px;
  position: relative;
  cursor: pointer;
}
.load-more::before {
  content: url(../images/plus.png);
  position: absolute;
  left: 24px;
}

.breaking-news-list {
  display: grid;
  grid-template-columns: repeat(4, 265px);
  grid-auto-rows: auto;
  gap: 43px 35px;
  list-style: none;
  margin-top: 100px;
  padding-left: 0;
  padding-bottom: 130px;
}

.breaking-news-item {
  position: relative;
}
.breaking-news-item:hover .breaking-news-item-title {
  color: #18cfab;
}

.breaking-news-post {
  text-decoration: none;
}

.breaking-news-post:hover .date-square {
  background-color: #18cfab;
}

.breaking-news-item-title {
  padding: 0;
  margin: 0;
  padding-left: 25px;
  color: #717171;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 39px;
}

.author-comments {
  display: flex;
  position: relative;
}
.breaking-news-item-subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #777777;
  margin-right: 20px;
  padding-left: 20px;
}

.author-comments::after {
  content: "";
  background-color: #777777;
  height: 13px;
  width: 1px;
  position: absolute;
  left: 95px;
  top: 2px;
}

.date-square {
  width: 70px;
  height: 68px;
  background: #203e38;
  position: absolute;
  right: 2px;
}

.date {
  display: block;
  padding-top: 10px;
  margin: 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
  text-align: center;
}

.month {
  margin-top: 5px;
  padding: 0;
}

.feedback-section {
  background-image: url(../images/section-3.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.feedback-title {
  color: #ffffff;
  position: relative;
}

.feedback-title::after {
  content: url(../images/feedback-shape.png);
  width: 47px;
  height: 33px;
  position: absolute;
  bottom: -120px;
  left: 49%;
}

.feedback-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  margin: 0;
  margin-top: 160px;
  align-items: center;
  text-align: center;

  color: #bbbbbb;
}

.feedback-author-photo {
  border: 10px solid rgba(31, 218, 181, 20%);
  border-radius: 50%;
  display: block;
  margin: 50px auto;
}

.feedback-author {
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  color: #18cfab;
  text-transform: uppercase;
  margin: 0;
  margin-top: 37px;
}

.feedback-author-job {
  font-family: "Montserrat";
  font-weight: 200;
  opacity: 40%;
  color: #bbbbbb;
  text-align: center;
  margin: 0;
  margin-top: 10px;
  font-size: 13px;
}

.author-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin-left: 38px;
}

.authors-icons {
  padding-right: 25px;
}

.author-icons-photo {
  border-radius: 50px;
  border: 5px solid rgba(31, 218, 181, 20%);
  cursor: pointer;
}

.feedback-slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-button {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #bbbbbb;
  width: 31px;
  height: 31px;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.slider-button:hover {
  background-color: #18cfab;
}

.slider-button-left::after {
  content: url(../images/left-arrow.png);
  width: 10px;
  height: 15px;
  position: absolute;
  top: 7px;
  left: 8px;
}
.slider-button-right::after {
  content: url(../images/right-arrow.png);
  width: 10px;
  height: 15px;
  position: absolute;
  top: 7px;
  right: 8px;
}

.authors-icons.hide {
  animation: disappear-icons 0.3s ease-in forwards;
}
@keyframes disappear-icons {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(-160px);
  }
}
.authors-icons.not-hidden {
  animation: appear-icons 0.3s ease-in forwards;
}
@keyframes appear-icons {
  0% {
    opacity: 0;
    transform: translateX(-160px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.authors-icons.current-slide {
  transform: scale(1.2) translateY(-20px);
  transition-duration: 500ms;
}

.slider-button.anim {
  animation: slide-btn-anim 0.2s linear forwards;
}

@keyframes slide-btn-anim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.authors-icons-hidden.animation-appear {
  transform: translateX(-20px);
  animation: appearing-icons 0.3s ease-in forwards;
}
@keyframes appearing-icons {
  0% {
    opacity: 0;
    transform: translateX(160px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.authors-icons-hidden.animation-dissap {
  transform: translateX(-20px);
  animation: disappearing-icons 0.3s ease-in forwards;
}
@keyframes disappearing-icons {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(160px);
  }
}

.footer {
  background-color: #22353f;
}

.copyright {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  padding: 20px;
  color: #aeaeae;
}
.copyright-accent-color {
  color: #18cfab;
}
